* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.carousel img {
	max-width: 100vw;
	max-height: 100vh;
}

.carousel {
	list-style: none;
	text-align: center;
}

.displayNone {
	display: none;
}

.button {
	width: 4em;
	height: 2em;
	background-color:  #ff8700;
	color: black;
	border-radius: 15%;
	border: none;
}

.button:active {
	box-shadow: inset -0.1em -0.1em 5px 0px #2F2F2F;
	transform: translateY(0.1em);
	opacity: 0.95;
	}
